.order {
    width: 100%;
    /* header高12vw */
    margin-top: 12vw;
    background-color: #0097EF;
    /* 元素的宽度和高度应该包括内容、内边距和边框，但不包括外边距。
    如果给一个元素设置了 width、padding 和 border，那么这些值将不会增加元素的最终宽度，
    因为 width 已经包含了它们。 */
    box-sizing: border-box;
    padding: 2vw;
    color: #FFF;
}

.order h5 {
    font-size: 3vw;
    /* h5本身就是粗体，取消粗体： */
    font-weight: 300;
}

.order .order-address {
    width: 100%;
    display: flex;
    /* 令地址和箭头分局两边： */
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
    /* 上下外边距为1vw，左右无外边距： */
    margin: 1vw 0;
}

.order .order-address p {
    font-size: 5vw;
    width: 90%;
}

.order .order-address i {
    font-size: 6vw;
}

.order p {
    font-size: 3vw;
}

h3 {
    box-sizing: border-box;
    /* 上下左右内边距都为3vw： */
    padding: 3vw;
    font-size: 4vw;
    color: #666;
    /* 底边框： */
    border-bottom: solid 1px #DDD;
}