.recommend {
    width: 100%;
    height: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommend .recommend-line {
    width: 6vw;
    height: 0.2vw;
    background-color: #888;
}

.recommend p {
    font-size: 4vw;
    margin: 0 4vw;
}